html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
  height: 100%;
}

header, footer {
  height: 10vh;
  background-color: rgb(177, 255, 229);
}

main {
  height: 80vh;
  background-color: rgb(236, 255, 151);
}

main nav {
	width: 100%;
	background-color: bisque;
	height: 4vh;
	display: flex;
	align-items: center;
}

main nav ul {
	list-style: none;
}

main nav ul.main-list {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

main nav ul.main-list>li{
	position: relative;
}

main nav ul.main-list li:last-child:hover{
	background-color: rgb(255, 174, 142);
}

main nav ul.main-list li:last-child .dropdown {
	background-color: rgb(255, 185, 99);
	position: absolute;
	bottom: 0;
	display: none;
	transition: transform 300ms ease-in-out;
}

main nav ul.main-list li:last-child .dropdown li {
	margin: 15px 0;
	padding: 10px 5;
}


main nav ul.main-list li:last-child .dropdown.active{
	display: block;
	transform: translate(0, 229px);
}

.carrousel-container {
	width: 100%;
	height: 80%;
	display: flex;
}

.carrousel-container .arrow-cont {
	width: 10vw;
	background-color: white;
	height: 100%;
}

.carrousel-container .arrow-cont {
	display: flex;
	align-items: center;
}

.carrousel-container .arrow-cont img {
	object-fit: contain;
  width: 20vh
}

.carrousel-container .image-slider{
	background-color: aquamarine;
	width: 80vw;
	height: 100%;
}

.carrousel-container .image-slider .image-display {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.carrousel-container .image-slider .image-display.showing img{
	display: block;
}

.carrousel-container .image-slider .image-display img{
	width: 60%;
	object-fit: contain;
	display: none;
}

